@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTk3j77e.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #e0f2f1; /* Adjusted to a pale mint green */
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    background-color: #d3e2e1;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.logo {
    width: 500px;
    height: 20px;
    padding: 40px 20px;
    background: url('/code/static/images/logo.png') no-repeat center center;
    background-size: cover;
}
  
.nav {
    width: 100%;
    display: flex;
    gap: 20px;
    z-index: 1;
    background-color: rgb(192, 204, 194);
      padding: 20px 0px 0px 0px;
}
  
.nav-link{
    margin-left: auto;
}
  
.nav-item {
    color: rgba(19, 47, 58, 1);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0px 40px 0px 0px;
}
  
.nav-main-web-logo {
    background: url('/code/static/images/main-web-logo.png') no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 50px;
}
  
.nav-item:hover {
    color: rgba(49, 129, 98, 1);
}

#quiz-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
}

#progress-bar-container {
    width: 100%;
    background-color: #e1e5ea;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress-bar {
    height: 10px;
    background-color: #008080; /* Teal color */
    width: 0%;
    border-radius: 5px;
}

h1, #result-container h2, #result-container p {
    text-align: center;
    color: #2c3e50;
    font-size: 2em;
}

#question-container {
    text-align: center;
}

#options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.option-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.option {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #dae1e7;
    transition: background-color 0.3s;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    text-align: left;
    overflow: auto;
}


.correct, #next-button {
    background-color: #4CAF50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

#reason, #next-button {
    margin-top: 20px;
    font-size: 1.2em;
    color: #2c3e50;
    text-align: left;
}

#next-button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #91b14b; /* Green to indicate correct answer or continue button */
    color: white;
    cursor: pointer;
}

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 20px; /* Add some padding for aesthetics */
}

#main-button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #91b14b; /* Green to indicate main navigation button */
    color: white;
    cursor: pointer;
    margin-top: 100px; /* Adjust vertical spacing as needed */
    
}

#score {
    margin-bottom: 20px; /* Ensure there's spacing between the score and the button */
}

.footer{
    background-color: #5b7772 ; 
    height:200px; 
    width:100%; 
    align-items:center;
    display:flex;
    margin-top: 20px;
}

#footer-team{
    margin-top:30px;
    margin-left: 15%;
    width:20%;
    font-size: 15px; 
    color:#d6d6d6; 
    font-style:italic;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTk3j77e.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTA3j77e.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTs3j77e.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTo3j77e.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
