body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8; /* A very light gray/blue, typical for a clean interface */
    padding: 20px;
    box-sizing: border-box;
}

#quiz-container {
    background-color: #ffffff; /* Crisp white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
}

#progress-bar-container {
    width: 100%;
    background-color: #e1e5ea; /* A light gray for less visual impact */
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress-bar {
    height: 10px;
    background-color: #3498db; /* A bright blue to indicate progress */
    width: 0%;
    border-radius: 5px;
}

h1, #result-container h2, #result-container p {
    text-align: center;
    color: #2c3e50; /* A strong but not overwhelming blue */
    font-size: 2em;
}

#question-container {
    text-align: center;
}

#options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.option-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.option {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #dae1e7; /* Subtle light gray/blue for options */
    transition: background-color 0.3s;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    text-align: left;
    overflow: auto;
}

.option:hover {
    background-color: #cdd5db; /* A slightly darker shade for hover effect */
}

.correct, #next-button {
    background-color: #4CAF50; /* Green to indicate correct answer or continue button */
    color: white;
}

.wrong {
    background-color: #f44336; /* Red to indicate wrong answer */
    color: white;
}

#reason, #next-button {
    margin-top: 20px;
    font-size: 1.2em;
    color: #2c3e50; /* Matching the text color with headings */
    text-align: left;
}
